@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
body,html{
    box-sizing: border-box;
}

header h1 {
    display: inline;
    font-family: "henny Penny", system-ui;
    font-size: 2.5vw;
}
header span {
    
    font-family: fantasy;
    font-size: 1.5vw;
}
main{

    height: 71vh;
    padding: 10vh;
}
section{
   
    height: 50vh;
    width: 30vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


main section h1{
    text-align: center;
    font-size: 6vw;
    font-family: "henny Penny", system-ui;
}
main section form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
main section form input {
    font-size: 2.4vw;
}
.k{
    font-size: 1.4vw;
    margin-top: 3vw;
    background-color: white;
    color: black;
}
.k:hover{
    background-color: rgb(0, 68, 0);
    color:white;
}
footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
footer input {
    background-color: yellow;
    color: black;
    font-size: 3vh;
    margin-left: 95vw;
}
main section form span{
    display: none;
    font-size: 1.3rem;
    margin-top: 1rem;
    color: red;
}
.visivel{
    display:block;
}
.t {
    font-size: 2.4vw;
    margin-top: -15vw;
}